.ticket-display-template {
    display: grid;

    grid-template-columns: 5fr 1fr 1fr 1fr;
    background-color: rgb(113, 132, 149);
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}


.square {
    width: 3em;
    height: 3em;
    justify-items: center;

}

.justify-content-center {
    justify-content: center;
}

.add-button {
    background-color: aqua;
}

.subtract-button {
    background-color: rgb(22, 82, 82);
}

.remove-margin {
    margin: 0;
}

.center {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ticket-wrapper {
    display: grid;
    gap: 1rem;
}


.sal-container {
    width: 100%;
    
}

.screen {
    background-color: black;
    height: 1rem;
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}



.seats-container {
    background-color: rgb(24, 24, 99);
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
}

.seat {
    padding: 0.3em;
    aspect-ratio: 1/1;
}

.seat-free {
    background-color: rgb(196, 255, 196);
}

.seat-reserved {
    background-color: rgb(255, 196, 196);
}

.seat-selected {
    background-color: rgb(255, 196, 196);
}

.flex-line {
    display: flex;
}

