.planner-wrapper {
    width: 100%;   


}

.search-selection {
    display: flex;
    gap: 2rem;
}

.available-movies-wrapper {
    display: grid;
    gap: 1em ;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    

}

.ticket-icon {
    height: 1.5rem;
}

.movie-content {
    aspect-ratio: 1 / 2;
    display: grid;
    grid-template-rows: 8fr 1fr 2fr;
    object-fit: fill;
    width: 100%; 
    background-color: #2b364a;
}

.movie-list-image {
    width: 100%;
}


@media only screen and (max-width: 600px){

    .available-movies-wrapper {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    
    }
    
    
    }