

.hero-wrapper {
    margin-top: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   width: 100%;

}

.scale-font {
    font-size: 1.1em;
    object-fit: contain;
    color: white;
}

.hero-big {
    grid-column:  span 2;
    grid-row: span 2;
    
}

.hero-square {
    aspect-ratio: 1/1;
    overflow: hidden;
}

.hero-square img {
    object-fit: fill;
    width: 100%;
   
}

.hero-button {
    background-color: #175dcc;
    color: white;
}

.hero-content {
    background-color: aqua;
    display: grid;
    grid-template-rows: 5fr 1fr;
    width: 100%;
    position: relative;

    
}

.hero-action {
    display: grid;
    grid-template-columns: 4fr 1fr;
    z-index: 1;
    background-color: #2b364a;
    position: absolute;
    bottom: 0;
    height: 4em;
    width: 100%;
 

}

.hero-small-text-h1 {
font-size: 1em;
}

.hero-small-text-p {
    font-size: small;
}

@media only screen and (max-width: 600px){
.hero-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.hero-big {
    grid-column:  span 1;
    grid-row: span 1;
    
}



}