.checkout-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.split-left-oriented {
    background-color: rgb(104, 94, 141);
    padding: 0.5rem;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr;

}